$colorB1: #000;
$colorW1: #fff;
$regularColor1: #73c2d1;
$regularColor2: rgb(39, 94, 66);
$regularColor3: rgb(37, 164, 37);
$regularColor4: rgb(205, 69, 20);
$regularColor5: gold;
$regularColor6: salmon;
$hoverColor1: lightblue;
$hoverColor2: rgba(122, 119, 119, 0.44);
$hoverColor3: rgba(78, 25, 192, 0.402);
$gradient1: linear-gradient(to right, #1d2b64, #26a0da);
$gradient2: linear-gradient(to right, #e53935, #e35d5b);
$gradient3: linear-gradient(to right, #1d2b64, #f8cdda);
$navbarColor: rgba(124, 164, 195, 0.672);
$sidebarColor: #00000081;
$colorCard: #ffffff90;
$shadowCard: rgba(0, 0, 0, 0.4) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$marginCenter: 0 auto;
$regularTransition: all 0.3s ease-out;
$easeout: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$delay: 0.15s;

@font-face {
  font-family: "Exo";
  src: url(../../assets/fonts/Exo2-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Dosis";
  src: url(../../assets/fonts/Dosis-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Caveat";
  src: url(../../assets/fonts/Caveat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/InterTight-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Oxygen";
  src: url(../../assets/fonts/Oxygen-Regular.ttf);
}

$fontCav: "Caveat";
$fontOxy: "Oxygen";
$fontInt: "Inter";
$fontDos: "Dosis";
$fontExo: "Exo";

@mixin flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin colunmContainer {
  @include flexContainer;
  flex-direction: column;
}

@mixin regularFont {
  font-family: $fontInt;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 550;
}

@mixin regularCard {
  background: $colorCard;
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
}

@mixin imgContainer {
  @include flexContainer;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

@mixin regularBtn {
  border: none;
  padding: 10px 5px;
  border-radius: 15px;
  background: $colorW1;
  font-size: 1rem;
  font-weight: 600;
  font-family: $fontExo;
  letter-spacing: 1px;
  box-shadow: $shadowCard;
  transition: $regularTransition;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  @include regularFont;
  background: $hoverColor1;
  animation: fade-in 1s $easeout forwards;
  opacity: 0;

  @keyframes fade-in {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}

a {
  text-decoration: none;
  color: $colorB1;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  cursor: default;
}

main {
  @include colunmContainer;
  min-height: 100vh;
  gap: 50px;
  width: 80%;
  margin: $marginCenter;
  padding: 30px 0;

  @media screen and (max-width: 830px) {
    min-height: 75vh;
  }

  @media screen and (width <= 435px) {
    width: 93%;
  }
}

.scale-in-top {
  animation: scale-in-top 0.8s $easeout $delay forwards;
  @keyframes scale-in-top {
    0% {
      transform: scale(0);
      transform-origin: 50% 0%;
      opacity: 0.2;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 0%;
      opacity: 1;
    }
  }
}

.scale-in-bottom {
  animation: scale-in-bottom 0.8s $easeout $delay forwards;

  @keyframes scale-in-bottom {
    0% {
      transform: scale(0);
      transform-origin: 50% 100%;
      opacity: 0.2;
    }
    100% {
      transform: scale(1);
      transform-origin: 50% 100%;
      opacity: 1;
    }
  }
}

.slide-in-bck-center {
  animation: slide-in-bck-center 1s $easeout $delay forwards;

  @keyframes slide-in-bck-center {
    0% {
      transform: translateZ(600px);
      opacity: 0.2;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

.question-anim {
  animation: focus-in-expand-fwd 1s $easeout 0.75s forwards;

  @keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-800px);
      filter: blur(12px);
      opacity: 0.1;
    }
    100% {
      transform: translateZ(0);
      filter: blur(0);
      opacity: 1;
    }
  }
}

.slide-in-blurred-left {
  animation: slide-in-blurred-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
    forwards;

  @keyframes slide-in-blurred-left {
    0% {
      transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
      transform-origin: 100% 50%;
      filter: blur(40px);
      opacity: 0.1;
    }
    100% {
      transform: translateX(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }
}

.bounce-in-fwd {
  animation: bounce-in-fwd 1.2s 1.3s forwards;

  @keyframes bounce-in-fwd {
    0% {
      transform: scale(0);
      animation-timing-function: ease-in;
      opacity: 0.1;
    }
    38% {
      transform: scale(1);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: scale(0.7);
      animation-timing-function: ease-in;
    }
    72% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    81% {
      transform: scale(0.84);
      animation-timing-function: ease-in;
    }
    89% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
    95% {
      transform: scale(0.95);
      animation-timing-function: ease-in;
    }
    100% {
      transform: scale(1);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
}
