@font-face {
  font-family: "Exo";
  src: url(../../assets/fonts/Exo2-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Dosis";
  src: url(../../assets/fonts/Dosis-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Caveat";
  src: url(../../assets/fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../../assets/fonts/InterTight-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Oxygen";
  src: url(../../assets/fonts/Oxygen-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Inter";
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 550;
  background: lightblue;
  -webkit-animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
          animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4 {
  cursor: default;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
@media screen and (max-width: 830px) {
  main {
    min-height: 75vh;
  }
}
@media screen and (width <= 435px) {
  main {
    width: 93%;
  }
}

.scale-in-top {
  -webkit-animation: scale-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s forwards;
          animation: scale-in-top 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s forwards;
}
@-webkit-keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-top {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    opacity: 1;
  }
}

.scale-in-bottom {
  -webkit-animation: scale-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s forwards;
          animation: scale-in-bottom 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s forwards;
}
@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}

.slide-in-bck-center {
  -webkit-animation: slide-in-bck-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s forwards;
          animation: slide-in-bck-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s forwards;
}
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
            transform: translateZ(600px);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.question-anim {
  -webkit-animation: focus-in-expand-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s forwards;
          animation: focus-in-expand-fwd 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.75s forwards;
}
@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slide-in-blurred-left {
  -webkit-animation: slide-in-blurred-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s forwards;
          animation: slide-in-blurred-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s forwards;
}
@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.bounce-in-fwd {
  -webkit-animation: bounce-in-fwd 1.2s 1.3s forwards;
          animation: bounce-in-fwd 1.2s 1.3s forwards;
}
@-webkit-keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0.1;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-in-fwd {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0.1;
  }
  38% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: scale(0.84);
            transform: scale(0.84);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  89% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

.learn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  gap: 15px;
  opacity: 0;
}
@media screen and (width <= 435px) {
  .learn-container {
    width: 100%;
  }
}
.learn-container .learn-content {
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media screen and (max-width: 880px) {
  .learn-container .learn-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.learn-container .learn-content .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 880px) {
  .learn-container .learn-content .img-container {
    display: none;
  }
}
.learn-container .learn-content .img-container img {
  width: 90%;
  border-radius: 12px;
}
.learn-container .learn-content .side-content {
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.learn-container .learn-content .side-content h4,
.learn-container .learn-content .side-content p {
  text-align: center;
}
.learn-container .learn-content .side-content h4 {
  font-family: "Caveat";
}
@media screen and (width <= 435px) {
  .learn-container .learn-content .side-content h4 {
    width: 90%;
    line-height: 30px;
  }
}
.learn-container .learn-content .side-content p {
  line-height: 30px;
}
@media screen and (width <= 435px) {
  .learn-container .learn-content .side-content p {
    width: 90%;
    line-height: 35px;
  }
}

.knowledge .learn-content {
  grid-template-columns: 30% 70%;
}
.knowledge .learn-content .right-content {
  gap: 5px;
}
@media screen and (width <= 435px) {
  .knowledge .learn-content .right-content {
    gap: 10px;
  }
}
.knowledge .learn-content .right-content h4 {
  font-size: 1.8rem;
}
@media screen and (width <= 435px) {
  .knowledge .learn-content .right-content h4 {
    font-size: 1.6rem;
  }
}

.about .learn-content {
  grid-template-columns: 70% 30%;
  grid-template-areas: "txt img";
}
.about .learn-content .img-container {
  grid-area: img;
}
.about .learn-content .left-container {
  gap: 10px;
  grid-area: txt;
}
@media screen and (width <= 435px) {
  .about .learn-content .left-container {
    gap: 15px;
  }
}
.about .learn-content .left-container h4 {
  font-size: 2.3rem;
}
@media screen and (width <= 435px) {
  .about .learn-content .left-container h4 {
    font-size: 2rem;
  }
}

.quiz-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
}
.quiz-container #quiz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: all 0.3s ease-out;
          transform: all 0.3s ease-out;
  min-height: 50vh;
  border-radius: 15px;
}
.quiz-container #quiz .start-page {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  padding: 55px 45px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 50vh;
  min-width: 800px;
  opacity: 0;
  -webkit-animation: swing-in-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s forwards;
          animation: swing-in-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.15s forwards;
}
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
.quiz-container #quiz .start-page h1,
.quiz-container #quiz .start-page h3 {
  font-family: "Oxygen";
}
.quiz-container #quiz .start-page h1 {
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
.quiz-container #quiz .start-page h3 {
  letter-spacing: 1px;
  font-size: 1.3rem;
}
.quiz-container #quiz .start-page .quiz-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
.quiz-container #quiz .start-page .quiz-option button {
  border: none;
  padding: 10px 5px;
  border-radius: 15px;
  background: #fff;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Exo";
  letter-spacing: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #fff;
}
.quiz-container #quiz .start-page .quiz-option button:first-of-type {
  background: rgb(37, 164, 37);
}
.quiz-container #quiz .start-page .quiz-option button:first-of-type:hover {
  background: #fff;
  color: rgb(37, 164, 37);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.quiz-container #quiz .start-page .quiz-option button:first-of-type:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.quiz-container #quiz .start-page .quiz-option button:last-of-type {
  background: orangered;
}
.quiz-container #quiz .start-page .quiz-option button:last-of-type:hover {
  background: #fff;
  color: rgb(205, 69, 20);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.quiz-container #quiz .start-page .quiz-option button:last-of-type:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.quiz-container #quiz .quiz-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 55vh;
  min-width: 1000px;
  display: none;
  gap: 5px;
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s forwards;
          animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s forwards;
  opacity: 0;
}
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
.quiz-container #quiz .quiz-content h2#question {
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  overflow: visible;
  background: rgba(78, 25, 192, 0.402);
  font-family: "Oxygen";
  color: #fff;
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  opacity: 0;
}
.quiz-container #quiz .quiz-content h2#question span {
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  z-index: 5;
  left: 0;
  bottom: -40px;
  color: #000;
}
.quiz-container #quiz .quiz-content h2#question span i {
  position: relative;
  z-index: 5;
  font-size: 1.1rem;
  -webkit-animation: iconColor 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s forwards;
          animation: iconColor 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.2s forwards;
}
@-webkit-keyframes iconColor {
  to {
    color: rgb(205, 69, 20);
  }
}
@keyframes iconColor {
  to {
    color: rgb(205, 69, 20);
  }
}
.quiz-container #quiz .quiz-content h2#question span p {
  position: relative;
  z-index: 4;
  font-style: italic;
  font-size: 0.9rem;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-animation: colorWord 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s forwards;
          animation: colorWord 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s forwards;
}
@-webkit-keyframes colorWord {
  50% {
    opacity: 1;
    color: #000;
  }
  100% {
    color: rgb(205, 69, 20);
    opacity: 1;
  }
}
@keyframes colorWord {
  50% {
    opacity: 1;
    color: #000;
  }
  100% {
    color: rgb(205, 69, 20);
    opacity: 1;
  }
}
.quiz-container #quiz .quiz-content h2#question span p::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1.5px;
  background-color: rgb(205, 69, 20);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-animation: underlineAnim 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s forwards;
          animation: underlineAnim 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.8s forwards;
  left: 0;
  bottom: 8px;
}
@-webkit-keyframes underlineAnim {
  to {
    width: 100%;
  }
}
@keyframes underlineAnim {
  to {
    width: 100%;
  }
}
.quiz-container #quiz .quiz-content .choice-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  gap: 10px;
  margin-bottom: 40px;
}
.quiz-container #quiz .quiz-content .choice-container input[type=radio],
.quiz-container #quiz .quiz-content .choice-container input[type=checkbox] {
  display: none;
}
.quiz-container #quiz .quiz-content .choice-container input[type=radio]:checked + label,
.quiz-container #quiz .quiz-content .choice-container input[type=checkbox]:checked + label {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
}
.quiz-container #quiz .quiz-content .choice-container input[type=radio]:checked + label {
  background: gold;
}
.quiz-container #quiz .quiz-content .choice-container input[type=checkbox]:checked + label {
  background: salmon;
}
.quiz-container #quiz .quiz-content .choice-container label {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: "Exo";
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  line-height: 30px;
  width: 25%;
  background: rgba(255, 255, 255, 0.5647058824);
  opacity: 0;
}
.quiz-container #quiz .quiz-content .choice-container label::-moz-selection {
  background: none;
}
.quiz-container #quiz .quiz-content .choice-container label::selection {
  background: none;
}
.quiz-container #quiz .quiz-content .choice-container label:hover {
  background: lightblue;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.quiz-container #quiz .quiz-content .choice-container label:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.quiz-container #quiz .quiz-content .choice-container button#next-button {
  position: absolute;
  border: none;
  border-radius: 12px;
  padding: 6px 12px;
  background: #fff;
  font-size: 1.05rem;
  font-family: "Oxygen";
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  top: 71%;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.quiz-container #quiz .quiz-content .choice-container button#next-button:hover {
  background: rgb(37, 164, 37);
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.quiz-container #quiz .quiz-content .choice-container button#next-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.quiz-container #quiz .quiz-content .choice-container button#next-button:disabled {
  background: rgba(255, 255, 255, 0.5647058824);
  cursor: not-allowed;
  font-size: 0.9rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0;
}
.quiz-container #quiz .quiz-content .choice-container button#next-button:disabled:hover {
  -webkit-transform: none;
          transform: none;
  color: initial;
  background: rgba(255, 255, 255, 0.5647058824);
}
.quiz-container #quiz .quiz-content h4#question-number {
  margin-top: 45px;
  font-family: "Oxygen";
  font-size: 1.3rem;
  opacity: 0;
  -webkit-animation: tracking-in-contract-bck-bottom 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s forwards;
          animation: tracking-in-contract-bck-bottom 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s forwards;
}
@-webkit-keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0.1;
  }
  40% {
    opacity: 0.3;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.quiz-container #quiz .quiz-content h4#question-number span {
  color: #000;
}
.quiz-container #quiz .quiz-content h4#question-number span#current-question {
  -webkit-animation: currentQuestion 1.5s linear 1.8s forwards;
          animation: currentQuestion 1.5s linear 1.8s forwards;
}
@-webkit-keyframes currentQuestion {
  to {
    color: rgb(37, 164, 37);
  }
}
@keyframes currentQuestion {
  to {
    color: rgb(37, 164, 37);
  }
}
.quiz-container #quiz .quiz-content h4#question-number span#total-question {
  -webkit-animation: totalQuestion 1.5s linear 1.8s forwards;
          animation: totalQuestion 1.5s linear 1.8s forwards;
}
@-webkit-keyframes totalQuestion {
  to {
    color: rgb(205, 69, 20);
  }
}
@keyframes totalQuestion {
  to {
    color: rgb(205, 69, 20);
  }
}
.quiz-container #quiz .end-quiz {
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 60px 50px;
  min-height: 50vh;
}
.quiz-container #quiz .end-quiz h1,
.quiz-container #quiz .end-quiz h3 {
  font-family: "Oxygen";
}
.quiz-container #quiz .end-quiz h1 {
  font-size: 2.5rem;
  opacity: 0;
  -webkit-animation: tracking-in-expand-fwd-top 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s forwards;
          animation: tracking-in-expand-fwd-top 1.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s forwards;
}
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0.2;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
            transform: translateZ(-700px) translateY(-500px);
    opacity: 0.2;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.quiz-container #quiz .end-quiz h3 {
  font-size: 1.3rem;
}
.quiz-container #quiz .end-quiz button#end-btn {
  border: none;
  padding: 10px 5px;
  border-radius: 15px;
  background: #fff;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Exo";
  letter-spacing: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
  -webkit-animation: tracking-in-contract-bck-bottom 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s forwards;
          animation: tracking-in-contract-bck-bottom 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s forwards;
}
@keyframes tracking-in-contract-bck-bottom {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
            transform: translateZ(400px) translateY(300px);
    opacity: 0.1;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
.quiz-container #quiz .end-quiz button#end-btn:hover {
  background: rgb(37, 164, 37);
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.quiz-container #quiz .end-quiz button#end-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.quiz-container #quiz .end-quiz h3#score-quiz {
  font-size: 1.3rem;
  opacity: 0;
  -webkit-animation: text-shadow-drop-br 1s linear 1.5s forwards;
          animation: text-shadow-drop-br 1s linear 1.5s forwards;
  -webkit-animation: jello-horizontal 0.9s 1.3s both;
          animation: jello-horizontal 0.9s 1.3s both;
}
@-webkit-keyframes text-shadow-drop-br {
  to {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
@keyframes text-shadow-drop-br {
  to {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
  }
}
.quiz-container #quiz .end-quiz h3#score-quiz span {
  opacity: 0;
  -webkit-animation: text-focus-in 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s forwards;
          animation: text-focus-in 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1.5s forwards;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0.1;
  }
  50% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    opacity: 0.5;
  }
  75% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    color: rgb(39, 94, 66);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    color: rgb(37, 164, 37);
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0.1;
  }
  50% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
    opacity: 0.5;
  }
  75% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    color: rgb(39, 94, 66);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    color: rgb(37, 164, 37);
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
    opacity: 0.2;
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
    opacity: 0.4;
  }
  50% {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
    opacity: 0.7;
  }
  65% {
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
    opacity: 0.8;
  }
  75% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
    opacity: 0.8;
  }
  100% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
    opacity: 0.2;
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
    opacity: 0.4;
  }
  50% {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
    opacity: 0.7;
  }
  65% {
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
    opacity: 0.8;
  }
  75% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
    opacity: 0.8;
  }
  100% {
    text-shadow: 6px 6px 18px rgba(0, 0, 0, 0.35);
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.quiz-container #quiz .quiz-intro {
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 60px 50px;
  min-height: 50vh;
  opacity: 0;
  -webkit-animation: swing-in-top-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s forwards;
          animation: swing-in-top-fwd 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s forwards;
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0.1;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
.quiz-container #quiz .quiz-intro h2 {
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  font-size: 2.5rem;
  font-family: "Oxygen";
}
.quiz-container #quiz .quiz-intro .level-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
}
.quiz-container #quiz .quiz-intro .level-btn button {
  border: none;
  padding: 10px 5px;
  border-radius: 15px;
  background: #fff;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Exo";
  letter-spacing: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.quiz-container #quiz .quiz-intro .level-btn button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.quiz-container #quiz .quiz-intro .level-btn button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.quiz-container #quiz .quiz-intro .level-btn button#normal:hover {
  background: rgb(37, 164, 37);
  color: #fff;
}
.quiz-container #quiz .quiz-intro .level-btn button#hard:hover {
  background: rgb(205, 69, 20);
  color: #fff;
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 35px 25px;
  gap: 25px;
  opacity: 0;
}
.card-container .card {
  background: rgba(255, 255, 255, 0.5647058824);
  padding: 20px 10px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.card-container .card .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  overflow: hidden;
}
.card-container .card .card-content h3.title-card {
  font-family: "Caveat";
  font-size: 2rem;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.card-container .card .card-content a.icon,
.card-container .card .card-content button.map {
  position: absolute;
}
.card-container .card .card-content a.icon {
  font-size: 1.1rem;
  color: rgb(39, 94, 66);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card-container .card .card-content a.icon:hover {
  color: #73c2d1;
}
.card-container .card .card-content a.icon:hover span {
  color: #73c2d1;
}
.card-container .card .card-content a.icon span {
  font-family: "Dosis";
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #000;
}
.card-container .card .card-content a.icon:first-of-type {
  top: 65%;
}
.card-container .card .card-content a.icon:last-of-type {
  top: 80%;
}
.card-container .card .card-content button.map {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  background: transparent;
  color: rgb(39, 94, 66);
  border-radius: 50%;
  font-size: 1.3rem;
  outline: none;
  border: none;
  height: 40px;
  width: 40px;
  top: 25%;
}
.card-container .card .card-content button.map:hover {
  background: rgba(122, 119, 119, 0.44);
  color: #000;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.card-container .card .card-content button.map:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.card-container .card .card-content .popup {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.5647058824);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.card-container .card .card-content .popup button.closeBtn {
  position: absolute;
  font-size: 2rem;
  top: 2%;
  right: 2%;
  outline: none;
  border: none;
  background: none;
  color: crimson;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.card-container .card .card-content .popup button.closeBtn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.card-container .card .card-content .popup .popup-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}
.card-container .card .card-content .popup .popup-img img {
  width: 40%;
  border-radius: 10px;
}
.card-container .card .card-content .paragraphe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
  width: 90%;
  margin: 0 auto;
  line-height: 32px;
}
.card-container .mada {
  display: grid;
  grid-template-columns: 20% 80%;
}
.card-container .mada .img-container img {
  width: 40%;
}
.card-container .mada a.icon {
  left: 4.5%;
}
.card-container .mada button.map {
  left: 9%;
}
.card-container .gwada {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-areas: "txt img";
}
.card-container .gwada .img-container {
  grid-area: img;
}
.card-container .gwada .img-container img {
  width: 55%;
}
.card-container .gwada a.icon:first-of-type {
  right: 6%;
}
.card-container .gwada a.icon:last-of-type {
  right: 6.5%;
}
.card-container .gwada button.map {
  right: 9%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 15vh;
}
footer::before {
  position: absolute;
  content: "";
  width: 70%;
  height: 2px;
  top: -5px;
  background: #000;
}
footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 40%;
}
footer .socials li.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
}
footer .socials li.icon span {
  font-size: 1rem;
}

nav {
  display: grid;
  grid-template-columns: 40% 60%;
  background: rgba(124, 164, 195, 0.672);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  padding: 15px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 3;
}
@media screen and (max-width: 520px) {
  nav {
    padding: 25px 15px;
  }
}
nav button#sidebutton {
  position: absolute;
  display: none;
  font-size: 1.4rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
nav button#sidebutton:hover {
  background: rgba(78, 25, 192, 0.402);
  -webkit-transform: translateY(-50%) scale(1.1);
          transform: translateY(-50%) scale(1.1);
}
nav button#sidebutton:active {
  -webkit-transform: translateY(-50%) scale(0.9);
          transform: translateY(-50%) scale(0.9);
}
@media screen and (max-width: 520px) {
  nav button#sidebutton {
    display: block;
    right: 5%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 520px) {
  nav .logo {
    display: none;
  }
}
nav .logo a {
  position: relative;
  z-index: 3;
}
nav .logo a::before {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  content: "";
  position: absolute;
  display: block;
  width: 125%;
  height: 180%;
  -webkit-transform: translate(-11%, -20%);
          transform: translate(-11%, -20%);
  z-index: -1;
}
nav .logo a:hover {
  color: rgba(78, 25, 192, 0.402);
}
nav .logo a:hover::before {
  background: rgba(255, 255, 255, 0.5647058824);
}
nav .logo a h2 {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-family: "Caveat";
  color: #fff;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  width: 100%;
}
nav .logo a h2:hover {
  color: rgba(78, 25, 192, 0.402);
}
nav .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
}
@media screen and (width <= 520px) {
  nav .link {
    display: none;
  }
}
nav .link li {
  text-transform: capitalize;
  font-family: "Caveat";
  font-size: 2rem;
}
nav .link li a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #fff;
  padding: 15px;
}
nav .link li a:hover {
  color: rgba(78, 25, 192, 0.402);
  background: rgba(255, 255, 255, 0.5647058824);
}

header {
  min-height: 90vh;
  overflow: hidden;
  position: relative;
}
header:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 80%;
  height: 1.5px;
  background: #000;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}
@media screen and (805px <= width <= 1400px) {
  header:after {
    display: block;
  }
}
@media screen and (max-width: 805px) {
  header {
    min-height: 60vh;
    background: url(../img/fdf-img.jpg) center/cover;
  }
}
header .sidebar {
  position: fixed;
  background: rgba(0, 0, 0, 0.5058823529);
  min-height: 100vh;
  width: 50%;
  z-index: 4;
  right: -60%;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
header .sidebar ul.sidebar-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 30vh;
}
header .sidebar ul.sidebar-link li a {
  font-family: "Caveat";
  color: #fff;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 5px 10px;
  font-weight: 700;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
header .sidebar ul.sidebar-link li a:hover {
  background: #fff;
  color: rgba(78, 25, 192, 0.402);
}
header .sidebar-active {
  right: 0%;
  -webkit-transition: all 1.2 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 1.2 cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
header .slider {
  max-width: 100vw;
  height: 700px;
  margin: auto;
  position: relative;
}
@media screen and (max-width: 1400px) {
  header .slider {
    height: 550px;
  }
}
@media screen and (max-width: 1105px) {
  header .slider {
    height: 410px;
  }
}
@media screen and (max-width: 805px) {
  header .slider {
    position: static;
  }
}
header .slider .list {
  -webkit-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
@media screen and (max-width: 805px) {
  header .slider .list {
    visibility: hidden;
    position: static;
  }
}
header .slider .list .item {
  overflow: hidden;
}
header .slider .list .item img {
  width: 100%;
  max-width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 805px) {
  header .slider .list .item img {
    display: none;
  }
}
header .slider ul.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}
@media screen and (max-width: 805px) {
  header .slider ul.dots {
    position: static;
    display: none;
  }
}
header .slider ul.dots li {
  cursor: pointer;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 1px solid #000;
  margin: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 805px) {
  header .slider ul.dots li {
    display: none;
  }
}
header .slider ul.dots li:hover {
  background: lightblue;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
header .slider ul.dots li:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
header .slider ul.dots li.active {
  width: 30px;
  background: rgb(205, 69, 20);
  border: none;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media screen and (width <= 435px) {
  header .header-container {
    width: 85%;
  }
}
header .header-container .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.5647058824);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5647058824);
  border-radius: 20px;
  padding: 80px 60px;
  gap: 30px;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
@media screen and (max-width: 1400px) {
  header .header-container .header-content {
    padding: 50px 40px;
  }
}
@media screen and (max-width: 1105px) {
  header .header-container .header-content {
    padding: 35px 20px;
  }
}
header .header-container .header-content h1 {
  font-family: "Oxygen";
  font-size: 3.1rem;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#1d2b64), to(#26a0da));
  background: linear-gradient(to right, #1d2b64, #26a0da);
  background-size: 400%;
  background-position: left;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: textAnim 8s 0.15s infinite;
          animation: textAnim 8s 0.15s infinite;
}
@media screen and (max-width: 1105px) {
  header .header-container .header-content h1 {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 625px) {
  header .header-container .header-content h1 {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 505px) {
  header .header-container .header-content h1 {
    font-size: 1.4rem;
    width: 90%;
  }
}
@-webkit-keyframes textAnim {
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
@keyframes textAnim {
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
header .header-container .header-content h4 {
  font-family: "Caveat";
  font-size: 2.4rem;
  letter-spacing: 0.5px;
}
@media screen and (max-width: 1105px) {
  header .header-container .header-content h4 {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 865px) {
  header .header-container .header-content h4 {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 505px) {
  header .header-container .header-content h4 {
    font-size: 1.3rem;
    line-height: 35px;
    width: 85%;
  }
}/*# sourceMappingURL=index.css.map */