.card-container {
  @include colunmContainer;
  @include regularCard;
  box-shadow: $shadowCard;
  padding: 35px 25px;
  gap: 25px;
  opacity: 0;

  .card {
    @include regularCard;
    position: relative;

    .img-container {
      @include imgContainer;
      @media screen and (width <= 1125px) {
        display: none;
      }
    }

    .card-content {
      h3.title-card {
        font-family: $fontCav;
        font-size: 2rem;
        width: 50%;
        margin: $marginCenter;
        text-align: center;
      }

      .news {
        @media screen and (width <= 1125px) {
          @include flexContainer;
          width: 80%;
          margin: 5px auto;
          justify-content: space-evenly;
        }

        @media screen and (width <= 605px) {
          width: 100%;
        }

        a.icon {
          position: absolute;
          font-size: 1.1rem;
          color: $regularColor2;
          transition: $regularTransition;

          @media screen and (width <= 1125px) {
            position: static;
          }

          @media screen and (width <= 605px) {
            font-size: 1rem;
          }

          @media screen and (width <= 375px) {
            font-size: 0.9rem;
            text-align: center;
          }

          &:hover {
            color: $regularColor1;
          }

          &:hover span {
            color: $regularColor1;
          }

          span {
            font-family: $fontDos;
            font-size: 1.1rem;
            font-style: italic;
            font-weight: 600;
            transition: $regularTransition;
            color: $colorB1;

            @media screen and (width <= 605px) {
              font-size: 0.9rem;
            }

            @media screen and (width <= 375px) {
              font-size: 0.8rem;
            }
          }
        }

        a.icon:first-of-type {
          top: 65%;
        }

        a.icon:last-of-type {
          top: 80%;
        }
      }

      .paragraphe-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin: $marginCenter;
        line-height: 38px;
        font-size: 0.9rem;

        @media screen and (width <= 1125px) {
          gap: 25px;
          line-height: 40px;
        }

        @media screen and (width <= 705px) {
          text-align: center;
          font-size: 0.8rem;
          width: 98%;
        }
      }
    }
  }

  .mada {
    display: grid;
    grid-template-columns: 20% 80%;

    @media screen and (width <= 1125px) {
      @include colunmContainer;
    }

    .img-container {
      img {
        width: 50%;
      }
    }

    a.icon {
      left: 4.5%;
    }
  }

  .gwada {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "txt img";

    @media screen and (width <= 1125px) {
      @include colunmContainer;
    }

    .img-container {
      @media screen and (width <= 1125px) {
        display: none;
      }
      grid-area: img;
      img {
        width: 55%;
      }
    }

    a.icon:first-of-type {
      right: 4.5%;
    }

    a.icon:last-of-type {
      right: 5%;
    }
  }
}
