footer {
  @include colunmContainer;
  position: relative;
  justify-content: space-evenly;
  min-height: 15vh;

  &::before {
    position: absolute;
    content: "";
    width: 70%;
    height: 2px;
    top: -5px;
    background: $colorB1;
  }

  .socials {
    @include flexContainer;
    justify-content: space-evenly;
    width: 40%;

    li.icon {
      @include colunmContainer;
      font-size: 1.2rem;

      span {
        font-size: 1rem;
      }
    }
  }
}
