nav {
  display: grid;
  grid-template-columns: 40% 60%;
  background: $navbarColor;
  transition: $regularTransition;
  padding: 15px;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 3;

  @media screen and (max-width: 520px) {
    @include flexContainer;
  }

  button#sidebutton {
    display: none;
    font-size: 1.4rem;
    color: $colorW1;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: $regularTransition;

    &:hover {
      background: $hoverColor3;
      transform: translateY(-50%) scale(1.1);
    }

    &:active {
      transform: translateY(-50%) scale(0.9);
    }

    @media screen and (max-width: 520px) {
      position: absolute;
      display: block;
      right: 5%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .logo {
    @include flexContainer;

    @media screen and (max-width: 520px) {
      display: none;
    }

    a {
      position: relative;
      z-index: 3;

      &::before {
        transition: $regularTransition;
        content: "";
        position: absolute;
        display: block;
        width: 125%;
        height: 180%;
        transform: translate(-11%, -20%);
        z-index: -1;
      }

      &:hover {
        color: $hoverColor3;
        &::before {
          background: $colorCard;
        }
      }

      h2 {
        transition: $regularTransition;
        font-family: $fontCav;
        color: $colorW1;
        cursor: pointer;
        text-align: center;
        font-size: 2rem;
        width: 100%;

        &:hover {
          color: $hoverColor3;
        }
      }
    }
  }

  .link {
    @include flexContainer;
    justify-content: space-around;
    gap: 15px;

    @media screen and (max-width: 520px) {
      display: none;
    }

    li {
      text-transform: capitalize;
      font-family: $fontCav;
      font-size: 2rem;

      a {
        transition: $regularTransition;
        color: $colorW1;

        padding: 15px;
        &:hover {
          color: $hoverColor3;
          background: $colorCard;
        }
      }
    }
  }
}

header {
  min-height: 90vh;
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    bottom: 0;
    width: 80%;
    height: 1.5px;
    background: $colorB1;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 805px) {
      display: none;
    }
  }

  @media screen and (max-width: 805px) {
    min-height: 80vh;
    background: url(../img/fdf-img.jpg) center/cover;
  }

  .sidebar {
    position: absolute;
    background: $sidebarColor;
    min-height: 100vh;
    width: 50%;
    z-index: 4;
    right: -50%;
    transition: $regularTransition;
  }

  .sidebar-active {
    right: 0;
    transition: $regularTransition;
  }

  .slider {
    max-width: 100vw;
    height: 700px;
    margin: auto;
    position: relative;

    @media screen and (max-width: 1400px) {
      height: 550px;
    }

    @media screen and (max-width: 1105px) {
      height: 450px;
    }

    @media screen and (max-width: 805px) {
      position: static;
    }

    .list {
      transition: all 1.5s ease-out;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      display: flex;
      width: max-content;

      @media screen and (max-width: 805px) {
        visibility: hidden;
        position: static;
      }

      .item {
        overflow: hidden;
        img {
          width: 100%;
          max-width: 100vw;
          object-fit: cover;

          @media screen and (max-width: 805px) {
            display: none;
          }
        }
      }
    }

    ul.dots {
      position: absolute;
      bottom: 10px;
      color: $colorW1;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      z-index: 2;

      @media screen and (max-width: 805px) {
        position: static;
        display: none;
      }

      li {
        cursor: pointer;
        width: 10px;
        height: 10px;
        background: $colorW1;
        border: 1px solid $colorB1;
        margin: 20px;
        border-radius: 20px;
        transition: all 0.5s ease-out;

        @media screen and (max-width: 805px) {
          display: none;
        }

        &:hover {
          background: $hoverColor1;
          transform: scale(1.2);
        }

        &:active {
          transform: scale(0.8);
        }
      }

      li.active {
        width: 30px;
        background: $regularColor4;
        border: none;
      }
    }
  }

  .header-container {
    @include flexContainer;
    min-height: 80vh;
    width: 60%;
    margin: $marginCenter;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .header-content {
      @include colunmContainer;
      border: 2px solid $colorCard;
      overflow: hidden;
      background: $colorCard;
      border-radius: 20px;
      padding: 80px 60px;
      gap: 30px;
      backdrop-filter: blur(2px);

      @media screen and (max-width: 1400px) {
        padding: 50px 40px;
      }

      @media screen and (max-width: 1105px) {
        padding: 35px 20px;
      }

      h1 {
        font-family: $fontOxy;
        font-size: 3.1rem;
        text-transform: uppercase;
        background: $gradient1;
        background-size: 400%;
        background-position: left;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textAnim 8s $delay infinite;

        @media screen and (max-width: 1105px) {
          font-size: 1.8rem;
        }

        @media screen and (max-width: 625px) {
          font-size: 1.6rem;
        }

        @media screen and (max-width: 505px) {
          font-size: 1.4rem;
          width: 90%;
        }

        @keyframes textAnim {
          50% {
            background-position: right;
          }
          100% {
            background-position: left;
          }
        }
      }

      h4 {
        font-family: $fontCav;
        font-size: 2.4rem;
        letter-spacing: 0.5px;

        @media screen and (max-width: 1105px) {
          font-size: 1.9rem;
        }

        @media screen and (max-width: 865px) {
          font-size: 1.7rem;
        }

        @media screen and (max-width: 505px) {
          font-size: 1.3rem;
          line-height: 35px;
          width: 85%;
        }
      }
    }
  }
}
